.board-collection {
    max-width: 1361px;
    display: flex;
    margin: 0 auto 23px;
    flex-wrap: wrap;
    padding: 63px 32px 81px;
    background: #fFF;
}

.board-collection__title {
    margin: 0 auto 80px;
    font-size: 24px;
    line-height: 32px;
    color: #56593D;
 }

.board__img {
    display: flex;
}

.board__item {
    margin-right: 31px;
    max-width: 411px;
}

.board__item:last-child {
    margin-left: -37px;
}

.board__item__img {
    margin-bottom: 15px;
}

.board__item__description {
    margin: 0 auto 7px;
    font-size: 16px;
    line-height: 22px;
    color: #56593D;
    text-align: center;
}

.price {
    line-height: 26px;
    color: #717353;
    letter-spacing: 1.62px;
}

.slogan {
    max-width: 1360px;
    padding: 16px;
    background: url("/img/background2.png") 50% no-repeat,#FFF;
    height: 732px;
    margin: 0 auto 24px;
}

.slogan__title {
    margin: 78px auto 11px;
    text-align: center;
    font-size: 17px;
    line-height: 22px;
    color: #56593D;
    letter-spacing: 1.8px;
}

.slogan_text {
    max-width: 1093px;
    font-size: 50px;
    line-height: 60px;
    color: #56593D;
    text-align: center;
    margin: 0 auto;
}

.story {
    max-width: 1360px;
    padding: 64px 119px 64px 32px;
    margin: 0 auto 24px;
    background: white;
    display: flex;
}

.story__info {
    display: flex;
    flex-flow: column nowrap;
    margin: 0 auto;
}

.story-img {
    margin-right: 119px;
}

.story__title {
    font-size: 29px;
    line-height: 39px;
    color: #56593D;
    margin: 63px auto 66px;
}

.story__title hr{
    height: 1px;
    background: #717353;
    width: 40px;
    margin: 32px auto 0;
}

.story__text {
    max-width: 347px;
    font-family: 'Jost';
    font-size: 20px;
    line-height: 32px;
    color: #56593D;
    text-align: center;
}

.table-info {
    max-width: 1360px;
    padding: 64px 32px 65px 0;
    margin: 0 auto 40px;
    background: white;
    display: flex;
    justify-content: end;
}

.subscribe {
    max-width: 1328px;
    background: #ffFFFF;
    margin: 0 auto 40px;
    padding: 63px 414px;
}

.subscribe__tittle {
    font-size: 28px;
    line-height: 39px;
    color: #56593D;
    text-align: center;
    margin-bottom: 16px;
}

.subscribe__text {
    font-size: 17px;
    line-height: 29px;
    color: #56593D;
    text-align: center;
    margin-bottom: 40px;
}

.subscribe__input {
    text-align: center;
    display: flex;
}

.subscribe__email {
    /*border: none;*/
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #56593D;
    outline: none;
    margin-right: 16px;
    width: 340px;
}

.subscribe__button {
    background: #56593D;
    width: 144px;
    font-size: 15px;
    line-height: 23px;
    color: #FFFFEF;
    letter-spacing: 1.6px;
}

.subscribe__button:hover {
    opacity: 0.9;
}
.subscribe__button:active {
    transform: translateY(5px);
}

.text a {
    color: #56593D;
}